
:root {
    --bg-primary : #0a012f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

@keyframes skeleton {
    0% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;;
    }
}

@keyframes rotate-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
       transform: rotate(360deg);
    }
}


.header {
    background-color: var(--bg-primary);
    color: white;
    padding: 16px 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1{
    font-size: 24px;
}

.header nav {
    display: flex;
    gap: 12px;
}

.header a {
    color: white;
    text-decoration: none;
}

.header a:hover {
    color: #beb0f8;
}

main {
    padding: 0 0;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content:space-between;
    margin-top: 24px;
}

.movie-card {
    max-width: 250px;
}

.movie-card a {
    text-decoration: none;
    color: black;
}

.movie-card img{
    border-radius: 16px;
    width: 100%;
}

.movie-card span {
    color: #6c6c6c;
}

.movie-card.loading .img-placeholder {
    background-color: #cfcfcf;
    min-width: 300px;
    height: 375px;
    animation: skeleton 0.5s alternate infinite;
}

.movie-card.loading h3 {
    margin-top: 16px;
    min-width: 300px;
    background-color: #cfcfcf;
    animation: skeleton 0.5s alternate infinite;
}

.movie-card.loading span {
    display: block;
    margin-top: 8px;
    width: 100px;
    background-color: #cfcfcf;
    animation: skeleton 0.5s alternate infinite;
}

#now-playing-movies {
    padding: 0 24px;
    margin-top: 24px;
}

#hero-section {
    background-color: gray;
    display: flex;
    padding: 32px 24px;
    gap: 24px;
    background-image: url("https://media.themoviedb.org/t/p/w1920_and_h800_multi_faces/qO55CD8tgVL1T4WKn6zYFFiD6lL.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
}

#hero-section::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(59, 59, 59, 0.6);
    top: 0;
    left: 0;

}

#hero-section .movie-detail {
    position: relative;
    z-index: 1;
}

#hero-section .poster-detail img {
    max-width: 250px;
    position: relative;
    z-index: 1;
    background-color: gray;
    min-height: 100px;
    width: 250px;
}

.loading-page {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-primary);
    z-index: 999;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 10px solid #e5d9f6;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border-top: 10px solid #a665fc;
    animation: rotate-animation .5s linear infinite;
}

.btn-trailer {
    margin-top: 24px;
    padding: 12px 24px;
    background-color: #a665fc;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.modal-trailer {
    background-color: rgba(30, 30, 30, 0.8);
    top: 0;
    right: -5000px;
    bottom: 0;

    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    color: white;

    transition: .25s;
}

.modal-trailer-content {
    background-color: rgb(0, 0, 0);
    padding: 24px 0;
    border-radius: 8px;
    width: 70%;
}

.modal-trailer-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    margin-bottom: 24px;
}

.close-modal {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    text-decoration: none;
}

.modal-trailer-content h2 {
    padding: 0 24px;
    font-size: 18px;
    margin-bottom: 0;
}

.btn-favorite {
    background-color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    color: white;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border-radius: 50%;
}

.btn-favorite svg {
    width: 24px;
    height: 24px;
    color: red;
}